* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.main {
    width: 100%;
    max-width: 600px;
    padding: 1rem;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main pre {
    flex-grow: 1;
    scrollbar-width: none;
}
